.main-container {
  max-width: 1500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p-y-1 {
  padding: 10px 20px;
}
.p-y-2 {
  padding: 20px 20px;
}
.p-y-3 {
  padding: 30px 20px;
}
.p-y-4 {
  padding: 40px 20px;
}
.p-y-5 {
  padding: 50px 20px;
}

.btn {
  min-width: 140px;
  height: 40px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: all 0.2s ease;
}

.green-btn {
  background: var(--btn-green);
  width: 150px;
  float: right;
  margin-top: 10px;
  color: var(--btn-white-bg);
  font-weight: 400;
}

.btn-login {
  color: var(--hr-color);
}

.btn:hover {
  transform: scale(1.04);
}

.btn-white {
  color: var(--btn-black-bg);
  background: var(--btn-white-bg);
}

.btn-white:hover {
  color: var(--btn-white-bg);
  background: var(--btn-black-bg);
}

.btn-border {
  border: 2px solid var(--btn-black-bg);
}

.btn-signup {
  color: var(--btn-white-bg);
}

.active {
  background: rgba(255, 255, 255, 0.05);
}

.active div > a {
  font-weight: 800 !important;
}

.active div > a,
.active div > a > i {
  color: var(--btn-white-bg) !important;
}

.category-active {
  color: var(--btn-white-bg);
}

.label {
  color: var(--normal);
  text-transform: uppercase;
  text-shadow: 0px 0px 19px rgba(0, 0, 0, 1);
}

/* Row header */

.row-header {
  display: flex;
  justify-content: space-between;
}

.see-all {
  position: relative;
  flex: 1;
}

.see-all a {
  position: absolute;
  display: inline-block;
  bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  right: 10px;
}

.row-header h2 {
  font-weight: 24px;
  font-weight: bold;
  color: var(--btn-white-bg);
}

.row-header p {
  font-size: 16px;
  color: var(--circle-color);
}

/* Play song */
#playsong {
  position: absolute;
  font-size: 14px;
  bottom: 5px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--normal);
  background: var(--bar-color);
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-box-shadow: -1px 12px 26px 8px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 12px 26px 8px rgba(0, 0, 0, 0.2);
  cursor: default;
}

#playsong:hover {
  transform: scale(1.05);
}

/* Playlist & Create Playlist */
.playlist-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.playlist-info-sec .playlist-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-bottom: 20px;
}

.playlist-img-wrap {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 1px 0px 31px -13px #000000;
  box-shadow: 1px 0px 21px -13px #000000;
}

.playlist-info {
  padding: 50px 20px 20px;
}

.playlist-name {
  font-size: 65px;
  color: var(--btn-white-bg);
}

.playlist-details {
  color: var(--circle-color);
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.playlist-details i {
  font-size: 5px;
  margin: 0 10px;
}

.creator-name {
  color: var(--btn-white-bg);
}

/* Profile & Playlist pic upload */
.edit-details-img-wrap label,
.create-playlist-img-wrap label,
.profile-pic-wrap label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  color: var(--btn-white-bg);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit-details-img-wrap label:hover,
.create-playlist-img-wrap label:hover,
.profile-pic-wrap label:hover {
  opacity: 1;
}

.edit-details-img-wrap label i,
.create-playlist-img-wrap label i,
.profile-pic-wrap label i {
  font-size: 40px;
  pointer-events: none;
}

.playlist-cover-pic,
#upload-playlist-pic-1,
#upload-playlist-pic-2,
#upload-profile-pic {
  display: none;
}
