.bg {
  background: var(--dark-bg);
}

.profile-container {
  padding-bottom: 100px;
}

.profile-info {
  display: grid;
  grid-template-columns: 230px 1fr;
  margin-bottom: 20px;
}

.profile-pic-wrap {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 30px;
}

.username {
  font-size: 64px;
  font-weight: 700;
  color: var(--btn-white-bg);
  margin-bottom: 10px;
}

.profile-details p {
  color: var(--i-color);
}

.profile-details p span {
  margin-right: 20px;
}

.profile-row-full-width {
  width: 100% !important;
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.profile-pp-click {
  margin-right: 30px;
}

.profile-pp-click:last-child {
  margin-right: 0;
}

.profile-pp {
  width: 180px;
  height: 230px;
  background: var(--dark-bg-l);
  border-radius: 10px;
  padding-top: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.profile-pp-wrap {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 20px;
  position: relative;
}

.profile-pp:hover #playsong {
  opacity: 1;
  bottom: 10px;
}

.profile-pp:hover {
  background: var(--dark-bg-l-hover);
}

.profile-pp-title {
  text-align: center;
  font-weight: 600;
  color: var(--btn-white-bg);
}

.followers-part-title {
  margin-top: 100px;
}

.followers-part .profile-pp-wrap {
  border-radius: 50% !important;
  overflow: hidden;
}
